
*{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}
body{
	background-color: #fff;
	color:#333;
}
img{
	max-width:100%;
}
.btn-white{
	text-decoration: none;
	text-transform: uppercase;
	display:inline-block;
	color:#333;
	border:1px solid #959595;
}
.btn-pink{
	font-size: 16px;
	text-decoration: none;
	color:#fff;
	background: linear-gradient(to bottom, rgba(255,170,170,1) 0%,rgba(255,153,153,1) 100%);
	text-transform: uppercase;
	cursor:pointer;
}
.menu{
	padding:20px 0;
	ul{
		list-style-type: none;
		display:none;
		text-align:center;
		margin-top:5px;
		li{
			font-size: 17px;
			a{
				text-decoration: none;
				color:#333;
				display:block;
				padding:5px 0;
				margin: 0 -10px;
				&:hover{
					color:#fff;
					background-color: #ffa8a8;
				}
			}
		}
	}
}
.menu__btn{
	display:inline-block;
	border:1px solid #ffa8a8;
	cursor:pointer;
	span{
		display:block;
		background-color: #474747;
		width:27px;
		height:5px;
		margin:5px;
	}
}
.menu__btn_active{
	span:nth-child(2){
      visibility: hidden;
      transition: all 0.1s linear;
    }
    span:nth-child(1){
    transform: rotate(45deg) translateX(7px) translateY(7px);
    transition: all 0.3s linear;
    }
    span:nth-child(3){
    transform:rotate(-45deg) translateX(7px) translateY(-7px);
    transition: all 0.3s linear;
    }
}
.menu__input{
	height:37px;
	font-size: 17px;
	color:#333;
	width:70%;
	border:1px solid #ccc;
	border-right:none;
	padding: 0 10px;
	display:none;
	&:focus {
    	outline-width: 0;
	}
}
.btn-search{
	height:37px;
	width:37px;
	line-height:35px;
	border-color:#ffa8a8;
	text-align:center;
	&:after{
		content:'';
		height:100%;
	}
	span{
		vertical-align: middle;
	}
}
.header{
	background: url("../images/header_bg.jpg") no-repeat;
	background-size: cover;
	margin-bottom:80px;
	position: relative;
	overflow:hidden;
	border-top:1px solid #f0f0f0;
	text-align: center;
}
.header__logo{
	margin:25px 0 15px;
}
.header__subtitle{
	font-size: 12px;
	color:#969594;
}
.header__contact{
	text-align:left; 
	margin-top:25px;
	display:inline-block;
}
.header__address{
	font-size: 13px;
	span{
		font-weight: bold;
	}
}
.header__email{
	font-size: 13px;
	margin:5px 0 20px;
	a{
		text-decoration: none;
		color:#333;
	}
}
.header__phone{
	a{
		text-decoration: none;
	}
	position: relative;
	.icon-phone-black{
		position: absolute;
		top:6px;
		left:0;
	}
	span:nth-child(2){
		color:#ff9999;
		font-size: 14px;
		margin:0 7px 0 25px;
		font-weight: 600; 
	}
	span:nth-child(3){
		font-size: 19px;
		color:#333;
		font-weight: 600;
	}	
}
.header__bascket{
	margin-top:40px;
	font-size: 13px;
}
.bascket_count{
	line-height:20px;
	margin-top:20px;
	span{
		font-weight: bold;	
	}
}
.btn-bascket{
	padding:11px 16px 11px 45px;
	position: relative;
	.icon-basket{
		position: absolute;
		top:15px;
		left:15px;
	}
}
.assortment{
	background: rgba(255, 255, 255, 0.6);
	text-align: center;
	position: relative;
	margin:0 -10px;
	padding-top:15px;
}
.assortment__container{
	display:inline-block;
	text-align: center;
	vertical-align: top;
	padding:0 35px 15px;
	a{
		text-decoration: none;
		color:#333;
	}
}
.assortment__icon{
	height:90px;
	line-height:90px;
	&:after{
		content:'';
		height:100%;
	}
	img{
		vertical-align:middle;
	}
}
.assortment__title{
	font-size: 17px;
}
.product{
	font-size: 15px;
	text-align: center;
	position: relative;
	a{
		text-decoration: none;
		color:#333;
	}
}
.stiker__container{
  position:absolute;
  top:15px;
  left:5px;
}
.stiker_hit {
  box-sizing: content-box;
  width: 32px;
  height: 32px;
  line-height:30px;
  position: relative;
  border: none;
  text-align: center;
  text-overflow: clip;
  background: #fab25b;
  border-radius:3px;
  z-index:1;
  &:before {
    box-sizing: content-box;
    width: 32px;
    height: 32px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    text-overflow: clip;
    background: #fab25b;
    -webkit-transform: rotateZ(30deg)   ;
    transform: rotateZ(30deg)   ;
    border-radius:3px;
    z-index:1;
  }
  &:after {
    box-sizing: content-box;
    width:32px;
    height:32px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    text-overflow: clip;
    background: #fab25b;
    transform: rotateZ(60deg)   ;
    border-radius:3px;
    z-index:1;
  }
  span{
    position:relative;
    z-index:2;
    font-size:13px;
    color:#fff;
    vertical-align: middle;
  }
}  
.stiker_new{
	position: absolute;
	top:10px;
	left:0;
	font-size: 13px;
	color:#fff;
	background: linear-gradient(to bottom, rgba(144,221,177,1) 0%,rgba(134,202,163,1) 100%);
	height:42px;
	width:42px;
	line-height:39px;
	text-align: center;
	border-radius:50%;
	&:after{
		content:'';
		height:100%
	}
	span{
		vertical-align: middle;
	}
}	
.stiker_action{
	position: absolute;
	top:10px;
	left:0;
	font-size: 13px;
	color:#fff;
	padding:7px 16px;
	background: linear-gradient(to bottom, rgba(255,153,153,1) 0%,rgba(255,103,103,1) 100%);
	border-radius:5px;
}
.product__img{
	height:245px;
	line-height:245px;
	&:after{
		content:"";
		height:100%;
	}
	img{
		vertical-align: middle;
	}
}
.product__price{
	padding:15px 0;
	font-weight: 600;
}
.btn-order{
	padding:12px 30px;
	&:hover{
		background: linear-gradient(to bottom, rgba(255,170,170,1) 0%,rgba(255,153,153,1) 100%);
		color:#fff;
		border:none;
		padding:13px 31px;
	}
}
.grey_line{
	border-bottom:1px solid #f0f0f0;	
	
}
.pad25{
	padding:25px 0 15px;
}
.laptop_show{
	display:none;
}
.pagination{
	text-align:center;
	margin:50px 0px 80px 0px;
	.active{
		background: linear-gradient(to bottom, rgba(255,170,170,1) 0%,rgba(255,153,153,1) 100%);
		color:#fff;
		border:none;
		padding:14px 18px;
	}
}
.btn-page{
	text-decoration: none;
	color:#333;
	font-size: 15px;
	padding:13px 17px;
	border:1px solid #959595;
	display:inline-block;
	cursor:pointer;
	margin:0 3px 5px 3px;
}
.pull-right{
	float: right;
}
.title{
	font-size: 23px;
}
.title-i-b{
	display: inline-block;
}
.all-news {
	color:#7b7b7b;
		font-size:13px;
		text-decoration:underline;
		padding-right:10px;
		margin-top: 15px;
}
.clients{
	margin-bottom: 70px;
}
.clients__slider{
	margin:15px 60px 30px;
	position: relative;
	li{
		text-align: center;
	}
}
.slider-arrow_prev, .slider-arrow_next{
	height:53px;
	width:28px;
	background: url("../images/arrows.png") no-repeat;
	background-position: 0 0;
	position: absolute;
	top:25px;
	opacity:0.5;
	transition: opacity 0.35s linear 0s;
	&:hover{
		opacity:1;
	}
}
.slider-arrow_prev{
	left:-60px;
}
.slider-arrow_next{
	background-position: -32px 0;
	right:-60px;
}
.interesting_products{
	margin-bottom: 70px;
	.product{
		padding-bottom:0px;
		border-bottom:none;
	}
	.stiker__container{
		top:5px;
	}
	.stiker_action, .stiker_new {
    	top: 0;
	}
	.product__title{
		height:40px;
	}
	.product__price{
		padding:5px 0;
	}
}
.interesting_products__slider{
	margin:30px 0 40px;
}
.fz34{
	font-size: 34px;
}
.order{
	padding:30px;
	background-color: #f0f0f0;
	margin:30px 0 35px;
}
.order__price{
	font-size: 23px;
	margin-bottom:20px;
}
.order__count{
	font-size: 13px;
	color:#666;
}
.order__counter{
	display:inline-block;
	background-color: #FFF;
	padding:3px;
	line-height:10px;
	margin-left:12px;
	position: relative;
	top:5px;
}
.order__counter-number{
	color:#333;
	font-size: 15px;
	margin:0 10px 0;
	vertical-align: text-top;
}
.order__btn{
	a{
		font-size: 21px;
		padding:23px 38px;
		background: linear-gradient(to bottom, rgba(255,170,170,1) 0%,rgba(240,130,130,1) 100%);
		color:#fff;
		text-decoration: none;
		text-transform: uppercase;
		margin-top:20px;
		display:block;
		margin-bottom: 25px;
		text-align: center;
	}
	a:hover{
		background: linear-gradient(to top, rgba(255,170,170,1) 0%,rgba(240,130,130,1) 100%);
	}
}
.order__text{
	padding-top: 20px;
	border-top:1px solid #fff;
	font-size: 13px;
	color:#666;
}
.bold{
	font-weight: bold;
}
.discription__title{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 20px;
}
.discription__text{
	font-size: 15px;
}
.discription{
	margin-bottom: 50px;
}
.icon.icon-moon,.icon-car{
	margin-right:15px;
	position: relative;
	top:2px;
}
.icon.icon-moon{
	top:6px;
}
.list{
	counter-reset: list ;	
}
.list__container{
	padding-left:50px;
	margin-bottom:13px;
	position:relative;
	padding-bottom: 1px;
  	&:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 40px;
    left: 10px;
    width: 9px;
    background: repeating-linear-gradient(-30deg, #d7d7d7, #d7d7d7 2px, transparent 3px, transparent 10px);
}
  &:before{
    content:counter(list); 
    counter-increment: list;
    position:absolute;
    color:#d7d7d7;
    top:0;
    left:0;
    border-radius:50%;
    border: 3px solid #d7d7d7;
    width:25px;
    height:25px;
    text-align:center;
    line-height: 25px;
  }
}
.list__container:last-child{
	&:after{
		display:none;
	}
}
.table{
	margin:30px 0 37px 0px;
	padding:30px 30px 40px 30px;
	box-shadow: 0px 0px 55px 20px #f4f4f4;
	.table__row:first-child{
		border-bottom: 1px solid #e1e1e1;
		padding-bottom:15px;
		color:#666;
		font-size: 13px;
		margin-bottom:5px;
	}
	.table__row {
		font-size: 15px;
		color:#333;
		.table__col{
			float:left;
			img{
				vertical-align: middle;
			}
			.order__counter-number{
				vertical-align: top;
			}
			.icon-plus, .icon-subtract{
				position: relative;
				top:4px;
			}
		}
		.table__col:nth-child(1){
			width:55%;
			a:nth-child(2){
				font-size: 15px;
				color:#333;
				margin-left:40px;
			}
		}
		.table__col:nth-child(2){
			width:16%;
		}
		.table__col:nth-child(3){
			width:16%;
		}
		.table__col:nth-child(4){
			width:13%;
		}
	}
}
.icon-plus, .icon-subtract{
	cursor: pointer;
}
.table__sum{
	font-size: 19px;
	
	span:last-child{
		margin-right: 50px;
		float:right;
	}
	.order_sum{
		font-weight: bold;
		margin-right:25px;
		float:right;
	}
}
.ver-aline{
	height:90px;
	line-height:90px;
	vertical-align:middle;
	&:after{
		content:'';
		height:100%;
		vertical-align:middle;
	}
}
.grey_box{
	margin:20px 0 35px 0;
	background-color: #f7f7f7;
	padding:15px 0 5px 25px;
	font-size: 15px;
	input {
		vertical-align: top;
		width: 17px;
		height: 17px;
		margin: 0 3px 0 0;
	}
	input + label {
	  cursor: pointer;
	}
	input:not(checked) {
	  position: absolute;
	  opacity: 0;
	}
	input:not(checked) + label {
		position: relative;
		padding: 0 0 0 35px;
	}
	input:not(checked) + label:before {
	  	content: '';
	  	position: absolute;
		top: 0px;
		left: 0;
		width: 17px;
		height: 17px;
		border: 2px solid #cccccc;
		background: #ffffff;
		background: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
	}
	input:not(checked) + label:after {
	 	opacity: 0;
		content: '';
		position: absolute;
		width: 8px;
		height: 3px;
		background: transparent;
		top: 7px;
		left: 6px;
		border: 1px solid #ff9999;
		border-top: none;
		border-right: none;
		transform: rotate(-45deg);
	}
	input:hover + label:after {
		opacity: 0.5;
	}
	input:checked + label:after {
		opacity: 1;
	}
	label{
		margin-right:40px;
	}
	.radio_delivery:checked + label{
		font-weight: bold;
		margin-right:30px;
	}
	.radio_money:checked + label{
		font-weight: bold;
		margin-right:31px;
	}
}
.input_radio{
	margin-bottom:10px;
}
.payment{
	display:none;
}

.payment__active{
	margin-bottom:30px;
	padding:35px 10px 20px;
	box-shadow: 0px 0px 55px 20px #f4f4f4;
	text-align: center;
	span{
		margin:0 30px 15px;
	}
}
.make_order-container{
	text-align: center;
	margin-bottom: 100px;
	margin-top: 70px;
}
.make_order{
	padding:20px 50px;
}
.footer{
	padding: 45px 0;
	background-color: #e1e1e1;
	font-size: 13px;
}
.footer__col{
	display:inline-block;
	vertical-align: top;
	ul{
		list-style: none;
		li{
			margin-bottom: 15px;
		}
	}
	a{
		color:#666666;
	}
}
.footer__end{
	padding:15px 0;
	background-color: #ff7575;
	font-size: 13px;
}
.footer__copyright{
		color:#fff;
	}
.footer__tell, .footer__address{
	display:inline-block;
	
	.icon{
		margin-right: 5px;
		position: relative;
		top:2px;
	}
	a{
		text-decoration: none;
		color:#fff;
	}
}
.footer__address{
	margin-right: 60px;
}
.footer__tell{
	margin-right: 20px;
	span:nth-child(3){
		font-size: 17px;
		font-weight: 600;
	}
	span:nth-child(2){
		margin-right: 5px;
	}
}