html
	head

	body
		.description_gallery
			ul#imageGallery
				li.data-thumb="images/description_slider_main.jpg"
					.data-src="img/largeImage.jpg"
					img(src="img/cS-1.jpg")
				li.data-thumb="img/thumb/cS-2.jpg"
					.data-src="img/largeImage1.jpg"
					img(src="img/cS-2.jpg")