html
	head

	body
		.filter
			.btn.btn_filter
				i.fa.fa-sliders.fa.fa-lg 
				|фильтр
			.unit_title Стоимость
			.unit_title Букеты с
			ul
				li
					.filter_input
						input(type="checkbox" name="bouquets" value="rose" id="rose")
						label(for="rose")
							span Роза
				li
					.filter_input
						input(type="checkbox" name="bouquets" value="lily" id="lily") 
						label(for="lily")
							span Лилия
			ul
				li
					.filter_input
						input(type="checkbox" name="bouquets" value="orchid" id="orchid") 
						label(for="orchid")
							span Орхидея
				li
					.filter_input
						input(type="checkbox" name="bouquets" value="gerbera" id="gerbera") 
						label(for="gerbera")
							span Гербер
			.unit_title Кому
			ul
				li
					.filter_input
						input(type="checkbox" name="whom" value="man" id="man")
						label(for="man")
							span Мужчина
				li
					.filter_input
						input(type="checkbox" name="whom" value="woman" id="woman") 
						label(for="woman")
							span Женщина
			ul
				li
					.filter_input
						input(type="checkbox" name="whom" value="baby" id="baby") 
						label(for="baby")
							span Ребенок
				li
					.filter_input
						input(type="checkbox" name="whom" value="family" id="family") 
						label(for="family")
							span Семья
