.clearfix
	.col-laptop-1-3
		.flower_container
			.flower_img
				img(src="../images/ny-gift.jpg", alt="NY Gift")
			.flower_title Новогодний подарок
			.flower_price 2000 руб.
			a.btn-white.btn-order(href="#")
				|Заказать
	.col-laptop-1-3
		.flower_container
			.stiker_new
				span New
			.flower_img
				img(src="../images/red_roses.jpg", alt="Red rose")
			.flower_title Букет из красных роз,#[br]  1000 шт.
			.flower_price 5589 руб.
			a.btn-white.btn-order(href="#")
				|Заказать
	.col-laptop-1-3
		.flower_container
			.stiker_action
				span Акция
			.flower_img
				img(src="../images/raffaello.jpg", alt="Gift Raffaello")
			.flower_title Букет из альстромерий#[br] и коробка конфет Rafaello
			.flower_price 1562 руб.
			a.btn-white.btn-order(href="#")
				|Заказать		
.grey_line.pad25
.clearfix
	.col-laptop-1-3
		.flower_container
			.flower_img
				img(src="../images/buket1.jpg", alt="NY Gift")
			.flower_title Новогодний подарок
			.flower_price 2000 руб.
			a.btn-white.btn-order(href="#")
				|Заказать
	.col-laptop-1-3
		.flower_container
			.flower_img
				img(src="../images/pink_roses.jpg", alt="NY Gift")
			.flower_title Букет из красных роз,#[br]  1000 шт.
			.flower_price 5589 руб.
			a.btn-white.btn-order(href="#")
				|Заказать
	.col-laptop-1-3
		.flower_container
			.flower_img
				img(src="../images/white_roses.jpg", alt="NY Gift")
			.flower_title Букет из альстромерий#[br] и коробка конфет Rafaello
			.flower_price 1562 руб.
			a.btn-white.btn-order(href="#")
				|Заказать			
.btn_pages
	a.btn-white.btn-page(href="index.html")
		|1				
	a.btn-white.btn-page(href="index2.html")
		|2				
	a.btn-white.btn-page(href="index3.html")
		|3				
	a.btn-white.btn-page(href="index4.html")
		|4							