.footer
	.wrapper
		.footer__nav
			.footer__col
				ul
					li
						a(href="") О магазине
					li
						a(href="") Почему мы?
					li
						a(href="") Отзывы
					li
						a(href="") СкидкиСкидки
			.footer__col
				ul
					li
						a(href="#") Гарантии
					li
						a(href="#") Возврат денежных средств
					li
						a(href="#") Корпоративные букеты  и подарки
			.footer__col
				ul
					li
						a(href="#") Доставка
					li
						a(href="#") Доставка в праздничные дни
					li
						a(href="#") Спецпредложения  к праздник
.footer__end
	.wrapper
		.footer__copyright
			|Служба доставки цветов  &copy 2016
		.footer__info
			.footer__tell
				a(href="tel:83515672146")
					span.icon.icon-phone-white
					span
						|8(351)
					span
						|567 21 46	
			.footer__address
				a(href="mailto:buket@mail.ru")
					span.icon.icon-envelope
					span e-mail: buket@mail.ru

