// Menu here
.grey_line
.header
	.wrapper
		.claerfix
			.col-laptop-1-4
				.header_logo
					a(href="#")
						span.icon.icon-maki-logo
				.header_subtitle Интернет-магазин цветов
			.col-laptop-1-2
				.contact_container
					.header_contact
						.header_address
							|#[span г. Челябинск,] ул. Воровского, 30А
						.header_email e-mail: buket@mail.ru
						.header_phone
							a(href="tel:83515672146")
								span.icon.icon-phone-black
								span
									|8(351)
								span
									|567 21 46	
			.col-laptop-1-4
				.header_bascket
					a.btn-pink.btn-bascket корзина
						span.icon.icon-basket
					.bascket_count
						|#[span 10] товаров#[br] на суму #[span 1000 руб.]
		.assortment
.marg80