.menu
	.wrapper.clearfix
		.menu__btn
			span
			span
			span
		a.btn-white.btn-search.pull-right(href="#")
			span.icon.icon-search
		input.menu__input.pull-right(type="text", placeholder="Поиск...")
		ul.menu__list
			li
				a(href="#")
					|Доставка
			li
				a(href="#")
					|Оплата
			li
				a(href="#")
					|Гарантии
			li
				a(href="#")
					|Контакты
			li
				a(href="#")
					|Статус заказа
.header
	.wrapper
		.clearfix
			.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4
				.header__logo
					a(href="#")
						span.icon.icon-maki-logo
				.header__subtitle Интернет-магазин цветов
			.col-phablet-1-2.col-tablet-1-3.col-laptop-1-2
				.contact_container
					.header__contact
						.header__address
							|#[span г. Челябинск,] ул. Воровского, 30А
						.header__email 
							a(href="mailto:buket@mail.ru")
								|e-mail: buket@mail.ru
						.header__phone
							a(href="tel:83515672146")
								span.icon.icon-phone-black
								span
									|8(351)
								span
									|567 21 46	
			.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4
				.header__bascket
					a.btn-pink.btn-bascket(href="#") корзина
						span.icon.icon-basket
					.bascket_count
						|#[span 10] товаров#[br] на суму #[span 1000 руб.]
		.assortment
			.assortment__container
				a(href="#")
					.assortment__icon
						img(src="images/bouquets.png", alt="bouquets")
					.assortment__title Букеты
			.assortment__container
				a(href="#")
					.assortment__icon
						img(src="images/flowers.png", alt="flowers")
					.assortment__title Цветы
			.assortment__container
				a(href="#")
					.assortment__icon
						img(src="images/roses.png", alt="roses")
					.assortment__title Розы
			.assortment__container
				a(href="#")
					.assortment__icon
						img(src="images/compositions.png", alt="compositions")
					.assortment__title Композиции
			.assortment__container
				a(href="#")
					.assortment__icon
						img(src="images/gifts.png", alt="gifts")
					.assortment__title Подарки
			.assortment__container
				a(href="#")
					.assortment__icon
						img(src="images/wedding_bouquets.png", alt="wedding bouquets")
					.assortment__title Свадебные#[br]букеты