html
	head

	body
		.news
			.row.clearfix.news-center
				.col-laptop-1-3
					.article
						a(href="#").article__pic
							img(src="../images/couple.jpg", alt="couple")
							.pic__within
								.btn.btn_news
									|Читать...
						a(href="#").article__pub-date
							|01.01.16
						a(href="#").article__title
							|С Новым годом 2016!
				.col-laptop-1-3
					.article
						a(href="#").article__pic
							img(src="../images/christmas_decoration.jpg", alt="christmas decoration")
							.pic__within
								.btn.btn_news
									|Читать...
						a(href="#").article__pub-date
							|01.01.16
						a(href="#").article__title
							|Как украсить дом к Новому году?
				.col-laptop-1-3
					.article
						a(href="#").article__pic
							img(src="../images/news_gift.jpg", alt="NY Gift")
							.pic__within
								.btn.btn_news
									|Читать...
						a(href="#").article__pub-date
							|01.01.16
						a(href="#").article__title
							|Розыгрыш новогоднего подарка