html
	head

	body
		.clerfix
			.col-laptop-1-3
				.news_img
					img(src="../images/couple.jpg", alt="couple")
					a.btn.btn_news(href="#")
						| Читать ...
				.news_date| 01.01.16	
				.news_article_title| С Новим годом 2016!
			.col-laptop-1-3
				.news_img
					img(src="../images/christmas_decoration.jpg", alt="christmas decoration")
					a.btn.btn_news(href="#")
						| Читать ...
				.news_date| 01.01.16
				.news_article_title| Как украсить дом к Новому году!
			.col-laptop-1-3
				.news_img
					img(src="../images/news_gift.jpg", alt="NY Gift")
					a.btn.btn_news(href="#") 
						| Читать ...
				.news_date| 01.01.16
				.news_article_title| Розыгрыш новогоднего подарка