html
	head

	body
		.clerfix
			.col-laptop-1-3
				.news_img
					img(src="../images/ny-gift.jpg", alt="Happy New Year")
				.news_date| 01.01.16	
				.news_article_title| С Новим годом 2016!
			.col-laptop-1-3
				.news_img
					img(src="../images/ny-gift.jpg", alt="NY Gift")
				.news_date| 01.01.16
				.news_article_title| Как украсить дом к Новому году!
			.col-laptop-1-3
				.news_img
					img(src="../images/ny-gift.jpg", alt="NY Gift")
				.news_date| 01.01.16
				.news_article_title| Розыгрыш новогоднего подарка