html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			.clearfix
				.col-phablet-1-2.col-tablet-2-3.col-laptop-3-4
					include ./parts/products.pug
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4.pad10
					//Тут має бути фільтр
			.title Новости
				span.pull_right
					a.all_news(href="#")
						|Все новости
		include js/main.js				
		span.icon.icon-maki-logo
		span.icon.icon-web-money
		span.icon.icon-visa
		span.icon.icon-qiwi
		span.icon.icon-yandex-money
		span.icon.icon-calendar
		span.icon.icon-clock
		span.icon.icon-location
		span.icon.icon-car
		span.icon.icon-moon
		span.icon.icon-settings
		span.icon.icon-plus
		span.icon.icon-search
		span.icon.icon-subtract
		span.icon.icon-chekbox
		span.icon.icon-chekbox-cheked
		span.icon.icon-basket
		span.icon.icon-envelope
		span.icon.icon-phone-white
		span.icon.icon-phone-black