html
	head
		include ./parts/head.pug
	body
		.wrapper
			.clearfix
				.col-laptop-3-4
					include ./parts/flowers.pug
				.col-laptop-1-4
					include parts/filter.pug
			.title Новости
				a(href="#").pull-right Все новости
					include ./parts/news.pug